{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container m-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<main>
    <div class=" home-page container-fliud">
        <div class="row justify-content-center">
            <div class="home-page-text col-lg-12 my-auto">
                <h1 class="text-black text-center">
                   Welcome to Elegancy Jewellery Shop
                </h1>
            </div>
                <div class="container">
                    <div class="row justify-content-center">

                        <a href="{% url 'jewelleries:jewelleries' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
        </div>
    </div>
</main>
    <section class="feature-text container-fluid col-md-12">
        <h2 class="display-3 text-black text-center">Best Features of this month</h2>
        <div class="card-group">
            {% for jewellery in featured_jewellery %}
            <div class="card 20rem mb-4">
                <div class="image-wrapper">
                    {% if jewellery.image %}
                    <a href="{% url 'jewelleries:jewelleries_details' jewellery.id %}">
                        <img class="card-img-top img-fluid" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'jewelleries:jewelleries_details' jewellery.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ jewellery.name }}">
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ jewellery.name }}</h3>
                </div>
                <!-- <a href="" class="btn btn-primary">View</a> -->
            </div>
            {% endfor %}
        </div>
    </section>
    
    {% include 'includes/footer.html'%}
{% endblock %}

