{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 mt-3 logo-font text-black">
               Welcome to Elegance Jewellery Shop
            </h1>
            <p class="text-left">Explore our stunning collection, handcrafted with passion and attention to details.
                From shimmering diamonds to lustrous pearls, our collection exudes timeless elegance</p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'jewelleries:all_jewelleries' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% if featured_jewellery %}
<div id="carouselExampleSlidesOnly" class="carousel slide h-100" data-ride="carousel">
    <div class="carousel-inner">
        {% for jewellery in featured_jewellery %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        div class="card h-100 border-0">
                    {% if jewellery.image %}
                                <a href="{% url 'jewelleries:all_jewelleries' jewellery.id %}">
                                    <img class="card-img-top img-fluid" src="{{ jewellery.image.url}}" alt="{{ jewellery.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ jewellery.name }}">
                                </a>
                                {% endif %}
        <img class="d-block w-100" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}"> -->
      </div> 
      {% endfor %}
    </div>
</div>
{% else %}
    <p>No featured jewellery available.</p>
{% endif %}
{% include 'includes/footer.html' %}
{% endblock%}
{% block corejs %}
<script>
    $('.carousel').carousel();
</script>
{% endblock %}