/* Home Page */
body {
    background-color: #f9E7E9;
    overflow-x: hidden;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.home-page {
    background-image: url('/media/pexels-terje-sollie-298852.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.card-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* 1:1 aspect ratio (square) */
}
.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.large-container {
    min-height: 65vh;
}
.card-footer {
    background-color:#F9FBFB;
}
.custom-card-body {
    min-height: 100px;
}
a {
    color:  #660003;
}
.card-footer a {
    color:  #660003; /* Darker shade of green for better contrast */
}
.card-footer .delete {
   color: #D92636
}
.card {
    margin: 10px;
    display: flex;
}
/* text */
.home-page-text {
   padding-top: 20rem;
}
.text-info {
 color: #da186c !important;
}

.text-black {
    color: #000 !important;
}
/* icons */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.border-black {
    border: 1px solid black !important;
}
.bg-dark {
    
    background: #f07b88 !important;
    color: black;
}
/* Buttons */
.btn-outline-black {
    background: #f07b88  ;
    color: #222 !important;
    border: 1px solid black;
}
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #d16271;
    color: white !important;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-primary {
    color: white;
    background-color: #000;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: black;
}
/* home page card with features */
.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f3c8cd69;
	z-index: -1;
}

.image-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
/* footer */
footer .main-footer{ 
     padding: 0;
     margin-top: 15px;  
     background: #f5b1b9;}
footer ul{  
    padding-left: 0;  
    list-style: none;}
h4 {
    color: #000;
}
/* Newsletter */
#subscribe-box .emailfield {
    margin: auto;
    color: #000;
}
#mc_embed_signup .asterisk {
    color: #660003;
    font-size: 150%;
    font-weight:bold;
    position: relative;
    top: 5px;
}
 
/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 

}
.pagination li {
    display: inline;
    margin-right: 10px;
    
}
/* .page {
    background: #f07b88;
    padding: 10px;
} */
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #f7f7f7;
    color: black;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.pagination li a:hover {
    background-color:white
   
}
.step-links {
    text-align: center;
}
span {
    color:black
}
.step-links a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
}

.step-links a:hover {
    background-color: #eee;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #14273c !important;
}

.arrow-secondary {
    border-bottom-color: #f476ac !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

/* .arrow-info {
    border-bottom-color: #35636a !important;
} */

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #f07b88!important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Hide Radio button */
.rate > input{
    display: none;
  }
  
  .rate{
    display: inline-block;;
    border: 0;
  }
  
  .rate > label{
    float: right;
  }
  
  /* Showing the stars */
  .rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin:0;
    padding:0.3rem .2rem;
    cursor: pointer;
  }
  
  /* Half star */
  .rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
  }
  
  /* Click and hover */
  input:checked ~ label, label:hover ~ label{
    color: #ffb503;
  }
  
  /* hover hightlight */
  input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label{
    color: #cc9000;
  }
  
  .rating-star i{
    color: #ffb503 !important;
  }
  
  ul.thumb{
    margin:0 auto;
    padding: 0;
    float: left;
  }
  ul.thumb li{
    list-style: none;
    margin: 10px;
  }
  ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid grey;
  }
  
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 90%;
    }

    .header-container {
        padding-top: 200px;
    }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #373c40; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #2a323a;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #d05e5e;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #da186c; /* text-info */
}

/* jewelleries/templates/jewelleries/custom_widget_templates */
  }

  /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .arrow-info {
        border-bottom-color: #da186c ;
        
    }
    .text-info {
       color: #da186c ;
    }
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 89px;
    }
}
  
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 184px;
    }
    .image-container {
        padding: 8rem;
      }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 876px) {
    .card ,h3 {
      width: 100%;  
      margin: 10px;
      display: block;
      justify-content: space-between;
      font-size: 22px;
    }
    .container {
        max-width: 90%;
      }
    h1 {
        font-size: 30px;
    }
    .display-3 {
        font-size: 30px;
       font-weight: 400;
    }
    }


@media (max-width: 380px) {
    .header-container {
        padding-top: 201px;
    }
  .image-container {
    padding: 160px;
  }
  .container {
    max-width: 90%;
  }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .jewellery-card {
       flex: 0 0 25%;
       max-width: 25%;
}
  }

    body {
        height: calc(100vh - 116px);
    }
    .home-page-text {
        padding-top: 20rem;
     }
    .home-page-text {
        padding-top: 20rem;
     }

  
    
