{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section">
    <div class="container p-5">
        <img class="mx-2 mb-2 main-image" src="{% static '/media/bg.png' %}" alt="background image">
        <br>
        <h1>- 403 -</h1>
        <hr>
        <h5>FORBIDDEN</h5>
        <hr>
        <h3>Sorry, You do not have permissions to view this page.</h3>
        <hr>
        <h5>Please return to home</h5>
        <hr>
        <a class="btn btn-secondary" href="{% url 'home' %}">HOME</a>
    </div>
</section>


{% endblock %}
