
  <!-- Footer -->
<footer class="footer-container-fluid text-center text-dark col-lg-12 col-md-12 col-sm-12
">
  <!-- Grid container -->
  <div class="grid-container p-4">
    <!-- Section: Social media -->
    <div class="mb-4">
      <!-- Facebook -->
      <a href="https://facebook.com" target="_blank"  rel="noopener" class="btn btn-outline-dark btn-floating m-1" role="button" aria-label="Visit our Facebook page (opens in a new tab)"
        ><i class="fab fa-facebook-f" aria-hidden="true"></i
         
          
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com" target="_blank" rel="noopener" role="button"  aria-label="Visit our Twitter page (opens in a new tab)"
        ><i class="fab fa-twitter" aria-hidden="true"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.google.com" target="_blank" rel="noopener" role="button"  aria-label="Visit our Google page (opens in a new tab)"
        ><i class="fab fa-google" aria-hidden="true"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://instagram.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Instagram page (opens in a new tab)"
        ><i class="fab fa-instagram" aria-hidden="true"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com" target="_blank" rel="noopener" role="button" aria-label="Visit our Linkedin page (opens in a new tab)"
        ><i class="fab fa-linkedin-in" aria-hidden="true"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.github.com" target="_blank" rel="noopener" role="button" aria-label="Visit our GitHub page (opens in a new tab)"
        ><i class="fab fa-github" aria-hidden="true"></i
      ></a>
        </div>
  </div>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <div class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-dark mb-4">
              <input type="email" id="form5Example2" class="form-control">
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </div>
  </footer>