<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Jewelleries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'jewelleries:jewelleries' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'jewelleries:jewelleries' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'jewelleries:jewelleries' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'jewelleries:jewelleries' %}" class="dropdown-item">All Jewellery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Diamond Collection
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'jewelleries:jewelleries' %}?category=diamond_rings" class="dropdown-item">Diamond Rings</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=diamond_earrings" class="dropdown-item">Diamond Earrings</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=diamond_necklaces" class="dropdown-item">Diamond Necklaces</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=diamond_rings,diamond_earring,diamond_necklaces" class="dropdown-item">All  Diamond Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Different Collection
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'jewelleries:jewelleries' %}?category=jewellery_of_silver" class="dropdown-item">Jewellery of Silver</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=jewellery_of_gold" class="dropdown-item">Jewellery of Gold</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=jewellery_pearl" class="dropdown-item">Jewellery of Pearl</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=jewellery_of_silver,jewellery_of_gold,jewellery_pearl" class="dropdown-item">All Collection</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'jewelleries:jewelleries' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=clearance" class="dropdown-item" class="dropdown-item">Clearance</a>
                <a href="{% url 'jewelleries:jewelleries' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>