{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for jewellery in jewelleries %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card h-100 border-0">
                {% if jewellery.image %}
                <a href="{% url 'jewelleries:jewelleries_details' jewellery.id %}">
                    <img class="card-img-top img-fluid" src="{{ jewellery.image.url }}" style="max-width: 100%; height: auto;" alt="{{ jewellery.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" style="max-width: 100%; height: auto;" alt="{{ jewellery.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ jewellery.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ jewellery.price }}</p>
                            {% if jewellery.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'jewelleries:jewelleries' %}?category={{ jewellery.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ jewellery.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if jewellery.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ jewellery.rating }} / 5</small>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
