<!-- {% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row p-5">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
   
    <div class="container-fluid mt-3">
        <main class="main">
            <div class="row mt-5 p-5">
                <div class="col text-center">
                    <h2 class="logo-font">Jewellery</h2>
{% for jewellery in jewelleries %}

<div class="product">

    <h2>{{ jewellery.name }}</h2>
    <p>{{ jewellery.description }}</p>
   
</div>
{% endfor %} -->