{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row p-5">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Products Page -->
    <div class="container-fluid mt-3">
        <main class="main">
            <div class="row mt-5 p-5">
                <div class="col text-center">
                    <h2 class="logo-font">Jewellery</h2>
                    {% for c in current_categories %}
                        <a class="category-badge text-decoration-none" href="{% url 'jewelleries:jewelleries' %}?category={{ c.name }}">
                            <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                        </a>
                    {% endfor %}
                    <hr class="w-50 mb-1">
                </div>
            </div>
        </main>
    </div>
    <!-- Sorting Selector -->
    <div class="flex-row">
        <div class="product-container offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <label for="sort-selector" class="sr-only">Sort by</label>
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <!-- Search Results -->
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-black mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'jewelleries:jewelleries' %}">Products</a> | </span>
                        {% endif %}
                        {{ jewelleries|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            {% if not has_query_parameters %}
            <div class="pagination-container row justify-content-center">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        {% if jewelleries.has_previous %}
                        <li class="page-item">
                            <a class="page" href="?page=1&sort={{ sort }}&direction={{ direction }}{% for category in current_categories %}&category={{ category }}{% endfor %}{% if search_term %}&q={{ search_term }}{% endif %}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page" href="?page={{ jewelleries.previous_page_number }}&sort={{ sort }}&direction={{ direction }}{% for category in current_categories %}&category={{ category }}{% endfor %}{% if search_term %}&q={{ search_term }}{% endif %}">Previous</a>
                        </li>
                        {% endif %}
                        <li class="page-item active">
                            <span class="page">{{ jewelleries.number }}</span>
                        </li>
                        {% if jewelleries.has_next %}
                        <li class="page-item">
                            <a class="page" href="?page={{ jewelleries.next_page_number }}&sort={{ sort }}&direction={{ direction }}{% for category in current_categories %}&category={{ category }}{% endfor %}{% if search_term %}&q={{ search_term }}{% endif %}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page" href="?page={{ jewelleries.paginator.num_pages }}&sort={{ sort }}&direction={{ direction }}{% for category in current_categories %}&category={{ category }}{% endfor %}{% if search_term %}&q={{ search_term }}{% endif %}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Products -->
    <div id="jewelleries-container" class="row justify-content-center">
        {% for jewellery in jewelleries %}
        <div class="col-12 col-sm-6 col-md-5 col-lg-3">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <div class="card-container">
                        {% if jewellery.image %}
                        <a href="{% url 'jewelleries:jewelleries_details' jewellery.id %}">
                            <img class="card-img-top img-fluid" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ jewellery.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ jewellery.name }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ jewellery.price }}</p>
                            {% if jewellery.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-black" href="{% url 'jewelleries:jewelleries' %}?category={{ jewellery.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ jewellery.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                            {% if jewellery.rating %}
                            <small class="text-black"><i class="fas fa-star mr-1"></i>{{ jewellery.rating }} / 5</small>
                            {% else %}
                            <small class="text-black">No Rating</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                            <small class="ml-4">
                                <a href="{% url 'jewelleries:edit_jewellery' jewellery.id %}">Edit</a> | 
                                <a class="delete" href="{% url 'jewelleries:delete_jewellery' jewellery.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}                        
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
   
    <div class="go-up-button mb-4">
        <a href="#" class="btt-link btn-black p-2">
            <i class="fa-solid fa-hand-point-up fa-lg"></i>
        </a>
    </div>  
    
{% endif %}
   
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0);
        })
    </script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
