{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!-- Product Detail Page -->
<div class="overlay"></div>
<div class="container-fluid p-5">
    <div class="row p-3">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- Product Image --> 
            <div class="image-container mt-5 mb-5">
                {% if jewellery.image %}
                        <a href="{{ jewellery.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ jewellery.image.url }}" alt="{{ jewellery.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ jewellery.name }}">
                        </a>
                    {% endif %}
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-12 col-md-7 col-lg-4">
            <div class="jewellery-details-container mb-5 mt-md-5">
                <p class="mb=0 font-weight-bold">{{ jewellery.name }}</p>
                <p class="lead mb=0 text-right font-weight-bold">${{jewellery.price }}</p>
                {% if jewellery.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-dark" href="{% url 'jewelleries:jewelleries' %}?category={{ jewellery.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ jewellery.category.friendly_name }}
                            </a>
                        </p>
                            {% endif %}
                {% if jewellery.rating %}
                        <small class="text-dark"><i class="fas fa-star mr-1"></i>{{ jewellery.rating }} / 5</small>
                    {% else %}
                        <small class="text-dark">No Rating</small>
                    {% endif %}
                {% if jewellery.gold_karats %}
                    <p class="mt-1 mb-0"><i class="fa-solid fa-copyright"></i> <small class="text-dark">Gold Karats: {{ jewellery.gold_karats }}</small></p>
                {% endif %}
                {% if jewellery.diamond_carats %}
                    <p class="mt-1 mb-0"><i class="fa-brands fa-kickstarter"></i><small> Diamond Carats: {{ jewellery.diamond_carats }}</small></p>
                {% endif %}
                {% if jewellery.diamond_shape %}
                    <p><i class="fa-solid fa-diamond"></i><small class="text-dark"> {{ jewellery.diamond_shape }}</small></p>
                {% endif %}    
                      <!-- Admin Edit/Delete Buttons -->
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'jewelleries:edit_jewellery' jewellery.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'jewelleries:delete_jewellery' jewellery.id %}">Delete</a>
                        </small>
                    {% endif %}
                       <!-- Quantity Selection -->
                    <p class="mt-3">{{ jewellery.description }}</p>
                    <form class="form" action="{% url 'bag:add_to_bag' jewellery.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-60">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class=" btn  btn-outline-black rounded-0" aria-label="Decrease Quantity"
                                                data-item_id="{{ jewellery.id }}" id="decrement-qty_{{ jewellery.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ jewellery.id }}"
                                            id="id_qty_{{ jewellery.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn  btn-outline-black" aria-label="Increase Quantity"
                                                data-item_id="{{ jewellery.id }}" id="increment-qty_{{ jewellery.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'jewelleries:jewelleries' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn  btn-outline-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                                {% if request.user.is_authenticated %}
                                    <a class="btn btn-outline-black btn-width mt-3" href="{% url 'whishlist:add_to_wishlist' jewellery.id %}">
                                        <span class="text-uppercase">Add to wishlist</span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span> 
                                    </a>
                                {% endif %}
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
            </div>

        </div>
    </div>

</div>
<!-- Write Reviews  -->
<br>
		<div class="row">
			<div class="col-md-9">
                {% if request.user.is_authenticated %}
				<form action="{% url 'jewelleries:submit_review' jewellery.id %}" method="POST">
					{% csrf_token %}
					<h5 class="ml-3">Write Your Review</h5>
					<div>
						<!-- Rating stars -->
						<label class="ml-3">How do you rate this product?</label>
						<br>
						<div class="rate ml-3">
                            <input type="radio" name="rating" id="rating10" value="5" required>
                            <label for="rating10" title="5"></label>
                        
                            <input type="radio" name="rating" id="rating9" value="4.5" required>
                            <label for="rating9" title="4.5" class="half"></label>
                        
                            <input type="radio" name="rating" id="rating8" value="4" required>
                            <label for="rating8" title="4"></label>
                        
                            <input type="radio" name="rating" id="rating7" value="3.5" required>
                            <label for="rating7" title="3.5" class="half"></label>
                        
                            <input type="radio" name="rating" id="rating6" value="3" required>
                            <label for="rating6" title="3"></label>
                        
                            <input type="radio" name="rating" id="rating5" value="2.5" required>
                            <label for="rating5" title="2.5" class="half"></label>
                        
                            <input type="radio" name="rating" id="rating4" value="2" required>
                            <label for="rating4" title="2"></label>
                        
                            <input type="radio" name="rating" id="rating3" value="1.5" required>
                            <label for="rating3" title="1.5" class="half"></label>
                        
                            <input type="radio" name="rating" id="rating2" value="1" required>
                            <label for="rating2" title="1"></label>
                        
                            <input type="radio" name="rating" id="rating1" value="0.5" required>
                            <label for="rating1" title="0.5" class="half"></label>
                        </div>
                        <br class="ml-3">
						<p class="ml-3">Review Title:</p>
						<input type="text" class="form-control" name="subject" required>
						<br>
						<p class="ml-3">Review:</p>
						<textarea name="review" rows="4" class="form-control" required></textarea>
						<br>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                                    </form>
                                    {% endif %}
                                    <!--History Customer Reviews-->
                    <br>
                    <header class="section-heading">
                        <h3>Customer Reviews </h3>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if jewellery.averageReview < 0.5 %}-o{% elif jewellery.averageReview >= 0.5 and jewellery.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if jewellery.averageReview < 1.5 %}-o{% elif jewellery.averageReview >= 1.5 and jewellery.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if jewellery.averageReview < 2.5 %}-o{% elif jewellery.averageReview >= 2.5 and jewellery.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if jewellery.averageReview < 3.5 %}-o{% elif jewellery.averageReview >= 3.5 and jewellery.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if jewellery.averageReview < 4.5 %}-o{% elif jewellery.averageReview >= 4.5 and jewellery.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                        <span>{{jewellery.countReview}} reviews</span>
                                </span>
                        </div>
                    </header>
                    {% for review in reviews %}
				<article class="box mb-3">
					<div class="icontext w-100">
						<div class="text">
							<span class="date text-muted float-md-right">{{review.rate}} </span>
                            <h4><i class="fa-solid fa-user" style="color: #d16271"></i> {{review.user}}</h4>
							<h6 class="mb-1"><i class="fa-regular fa-clock" style="color: #d16271"></i> {{review.created_at}}</h6>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
                    <div class="mt-3">
						<h6>{{review.jewellery}}</h6>
						<p>
							{{review.review}}
						</p>
					</div>
				</article>
                <hr>
{% endfor %}

			</div> 
		</div> 

	
                    


{% include 'includes/footer.html'%}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'jewelleries/includes/quantity_input_script.html' %}
{% endblock %}