{% extends 'base.html' %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container p-5">
        <div class="row p-5">
            <div class="col">
                <hr>
                <h1 class="text-center">Design Your Own Jewellery</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
        <div class="text-right">
            <a class="btn btn-outline-black rounded-0" href="{% url 'jewelleries:jewelleries' %}">Cancel</a>
            <button class="btn btn-black rounded-0" type="submit">Create</button>
            <a href="{% url 'CustomOrder:view_submitted_forms' %}"></a>
        </div>          
    </form>
    
        </div>
    </div>
    {% include 'includes/footer.html'%}
{% endblock %}
