{% extends 'base.html' %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container p-5">
        <div class="row p-5">
            <div class="col">
                <hr>
                <h1 class="text-center">Design Your Own Jewellery</h1>
    <!-- CustomOrder Form -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                            <div class="submit-button text-center mt-5 mb-2">
                                <a href="{% url 'jewelleries:jewelleries' %}" class="btn btn-outline-black my-2">
                                    <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                                    <span>Cancel</span>
                                </a>
                                <button class="btn  btn-outline-black my-2" id="submit-button">
                                    <span class="mr-2"><i class="fa-regular fa-paper-plane"></i></span>
                                    <span>Create</span>
                                </button>
                            </div>         
            </form>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html'%}
{% endblock %}
