{% extends 'base.html' %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="row p-5">
            <div class="col">
                <h1 class="text-center p-5">Form Submitted Successfully</h1>
                <p class="text-center">Your custom jewellery design has been submitted successfully!</p>
                <br>
                <hr>
                <div>
                    <h2 class="text-center">Contact Us</h2>
                    <p>If you have any questions, feedback, or need assistance, please don't hesitate to get in touch with us. Our dedicated team is here to help and provide you with the support you nedd.Feel free to reach out to us through our Contact us page</p>
                    <div class="submit-button text-right mt-5 mb-2 text-center">
                        <a href="{% url 'contact' %}" class="btn btn-outline-black my-2">
                            <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
                            <span>Contact Us</span>
                        </a>
                        <button class="btn btn-outline-black  my-2" id="submit-button">
                            <span class="mr-2"><i class="fa-regular fa-paper-plane"></i></span>
                            <span>Back to Shop</span>
                        </button>
                    </div>
                </div>
                <a href="{% url 'CustomOrder:view_submitted_forms' %}" class="btn btn-black btn-outline-black rounded-0 text-center mr-5">View your submitted Forms</a>
            </div>
           
        
        </div>
    </div>
    {% include 'includes/footer.html'%}
{% endblock %}
