{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- Your page header content -->
{% endblock %}

{% block content %}
    <div class="container-fluid large-container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="hero-font text-uppercase">Submitted Forms</h1>
                <hr class="w-50 mb-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Loop through user submissions -->
                {% for submission in user_submissions %}
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-7">
                            <p class="my-0"><strong>{{ submission.design_name }}</strong></p>
                            <p class="my-0"><small>{{ submission.description }}</small></p>
                            <!-- Add other details you want to display -->
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <!-- Loop through user submissions and display images -->
                {% for submission in user_submissions %}
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-7">
                            {% if submission.design_image %}
                                <img class="img-fluid rounded" src="{{ submission.design_image.url }}" alt="{{ submission.design_name }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{% static 'noimage.png' %}" alt="{{ submission.design_name }}">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Your other content here -->
{% endblock %}

{% block postloadjs %}
    <!-- Your post-load JavaScript here -->
{% endblock %}
