{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid large-container mb-2">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="overlay"></div>
            <div class="container p-5 mt-5">
                <div class="row mb-5">
                    <div class="col">
                        <hr>
                        <h1 class="hero-font text-uppercase">Submitted Forms</h1>
                        <hr class="w-50 mb-5">
                    </div>
                </div>
                <div class="row">
                    {% for custom_order in custom_orders %}
                    <div class="col-12 col-md-6 mt-5">
                        {% if custom_order.design_image %}
                        <img class="img-fluid" src="{{ custom_order.design_image.url }}" alt="{{ custom_order.design_name }}">
                        {% else %}
                        No Image attached
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 mt-5 p-5">
                        <div class="col-lg-6">
                            <p class="text-muted">Order Details</p>
                            <ul class="list-unstyled">
                                <li><strong>Type of Jewellery:</strong> {{ custom_order.design_name }}</li>
                                <li><strong>Metal Type:</strong> {{ custom_order.metal_type }}</li>
                                <li><strong>Stone Type:</strong> {{ custom_order.stone_type }}</li>
                                <li><strong>Description:</strong> {{ custom_order.description }}</li>
                                <li><strong>Full name:</strong> {{ custom_order.full_name }}</li>
                                <li><strong>Email Address:</strong> {{ custom_order.email }}</li>
                                <li><strong>Phone Number</strong> {{ custom_order.phone_number }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    <div class="submit-button text-right mt-5 mb-2 text-center">
        <a href="{% url 'jewelleries:jewelleries' %}" class="btn bg-dark btn-outline-black my-2">
            <span class="mr-2"><i class="fa-solid fa-chevron-left"></i></span>
            <span>Back to Shop</span>
        </a>
        <div class="btn-outline-black bg-dark my-2" id="submit-button">
            <a href="{% url 'home' %}" class="btn  btn-outline-black bg-dark my-2">
            <span class="mr-2"><i class="fa-regular fa-paper-plane"></i></span>
            <span>Back To Home Page</span>
        </a>
        </div>
    </div>
   </div>  
{% include 'includes/footer.html'%}
{% endblock %}

{% block postloadjs %}

{% endblock %}
